@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Poppins, Inter, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40vh;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    background: #302f2f;
    background-repeat: no-repeat;
    color: #ddd;
}

header {
    margin-top: 5.5%;
}

h1 {
    font-size: 3rem;
}

.logo {
    height: 4rem;
    margin-bottom: .5%
}

.stats {
    margin-top: -40vh;
}

.stat-block-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-top: 7%;
}

.stat-block {
    width: 20vw;
    min-width: 10rem;
    aspect-ratio: 1;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(255, 255, 255, .1);
}

.stat-value {
    font-size: 2rem;
}

.stat-name {
    position: absolute;
    top: 1rem;
}

.description-box {
    width: 80vw;
    height: 100vh;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 1rem rgba(255, 255, 255, .3);
}
.description-picture {
    width: 30vw;
    float: right;
    right: 0;
}

.description-picture img {
    width: 100%;
    height: auto;
    filter: brightness(70%);
}

.description-text {
    width: 100%;  
    text-align: left;
    padding: 5%;
}

.description-box p {
    font-size: 1.2rem;
    line-height: 2.5;
}

span.key {
    font-weight: bold;
}



