@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Poppins, Inter, sans-serif;
    background: #302f2f;
    background-repeat: no-repeat;
    color: #ddd;
}   

header {
    margin-top: 5.5%;
}

h1 {
    font-size: 3rem;
}

.centered-column {
    display: flex;
    flex-direction: column;
    gap: 40vh;
    align-items: center;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.logo {
    height: 4rem;
    margin-bottom: .5%
}

.bright-outline {
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1rem rgba(255, 255, 255, .1);
    background: rgba(0, 0, 0, 0.1);
}




/* Statistics section */

.stats {
    margin-top: -40vh;
}

.stat-block-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-top: 7%;
}

.stat-block {
    width: 20vw;
    min-width: 15rem;
    aspect-ratio: 1;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 2vw;
}

.stat-value {
    font-size: 2rem;
}

.stat-name {
    position: absolute;
    top: 1rem;  
}





/* Description section */

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description-box {
    width: 80vw;
    height: auto;
}
.description-picture {
    width: 30vw;
    float: right;
    right: 0;
}

.description-picture img {
    width: 100%;
    height: auto;
    filter: brightness(70%);
}

.description-text {
    width: 100%;  
    text-align: left;
    padding: 5%;
}

.description-box p {
    font-size: 1.2rem;
    line-height: 2.5;
}

span.key {
    font-weight: bold;
}


/* Stages section */

.stages-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 10vw;  
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
}

.stages-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stage-number {
    font-size: 5rem;
    opacity: 0.2;
    cursor: pointer;
}

.frame-container {
    display: flex;
    gap: 2vw;
}

.frame {
    width: 15vw;
    min-width: 9.5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border-radius: 10%;
    padding: 3vh;
    font-size: 1.5rem;
    overflow: hidden;
}

.frame img {
    width: 80%;
    height: auto;
}




/* About section */

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 10vh 5vw;
    line-height: 2.5;
}

.about-box h2 {
    font-size: 4rem;
}

.about-box img {
    width: 30%;
    margin-bottom: 10vh;
    padding: 2vw;
}

footer {
    width: 100vw;
    font-size: 2rem;
    padding: 10vh 0;
    text-align: center;
    background: maroon;
}




/* Elements with transitions */
.sns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(30%);
    filter: blur(5px);
    transition: all 1s;
}

.connector {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 5rem;
    opacity: 0;
    transition: all 2.5s;
}

.active, .show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);            
}

.hidden {
    display: none;
}



/* Media Queries */

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1222px) {
    .stage-number {
        font-size: 3rem;
    }
    .frame {
        font-size: 1.2rem;
    }
    .connector {
        font-size: 3rem;
            
    }
}

/*Mobile*/
@media screen and (min-width: 360px) and (max-width: 767px) {
    .stat-block-container {
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }

    .stat-block {
        width: 40vw;
    }

    .stage-number {
        font-size: 2rem;
    }

    .frame {
        font-size: 1rem;
        width: 20vw;
    }

    .frame-container {
        flex-direction: column;
        margin: 0 auto;
        gap: 10vh;
    }

    .connector {
        font-size: 3rem;
    }

    .about-box h2{
        font-size: 3rem;
    }
}

@media screen and (max-width: 359px) {
    * {
        display: none;
    }
}

@media(prefers-reduced-motion) {
    .connector, .sns {
        transition: none;
    }
}







